<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="30" alt="MDB Logo" loading="lazy" />
    </a>
    <a class="navbar-brand" href="#">
      <h2>Viajes el destino feliz</h2>
    </a>
  </div>
</nav>