<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title>Formulario</title>
</head>

<body>
  <%- include('partials/encabezado.html') %>
  <div class="container">
    <form action="/" method="post">
      <div align="center" class="p-3">
        <label class="form-label" for="">Numero Boleto:</label>
        <input class="form-control" type="number" id="numBoleto" name="numBoleto" required>
        <label class="form-label" for="">Destino:</label>
        <input class="form-control" type="text" id="destino" name="destino" required>
        <label class="form-label" for="">Nombre Cliente:</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required>
        <label class="form-label" for="">Edad Cliente:</label>
        <input class="form-control" type="number" id="edad" name="edad" required>
        <label class="form-label" for="">Tipo de viaje:</label>
        <select class="form-select" name="viaje" id="viaje">
          <option value="1">1 - Sencillo</option>
          <option value="2">2 - Doble</option>
        </select>
        <label class="form-label" for="">Precio:</label>
        <input class="form-control" type="number" id="precio" name="precio" required>
        <br>
        <div class="btn-group mt-3 mb-3" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="reset" id='limpiar' class="btn btn-primary">Limpiar</button>
        </div>

        <%
           if (precio != null) {
              var subtotal = parseFloat(precio);
              var impuesto = 0;
              var descuento = 0;
              var total = 0;

              if (viaje == 2) {
                subtotal = parseFloat(subtotal) * 1.8;
              }

              impuesto = parseFloat(subtotal) * 0.16;

              if ((edad) >= 60) {
                descuento = (parseFloat(subtotal) + parseFloat(impuesto)) * 0.5;
              }

              total = (parseFloat(subtotal) + parseFloat(impuesto) - parseFloat(descuento));

        %>
        <div>
          <label class="form-label" for="">Subtotal:</label>
          <input class="form-control" type="text" id="subtotal" name="subtotal" value="<%= parseFloat(subtotal).toFixed(3) %>" readonly>
          <label class="form-label" for="">Impuesto 16%:</label>
          <input class="form-control" type="text" id="impuesto" name="impuesto" value="<%= parseFloat(impuesto).toFixed(3) %>" readonly>
          <label class="form-label" for="">Descuento:</label>
          <input class="form-control" type="text" id="descuento" name="descuento" value="<%= parseFloat(descuento).toFixed(3) %>" readonly>
          <label class="form-label" for="">Total a pagar:</label>
          <input class="form-control" type="text" id="total" name="total" value="<%= parseFloat(total).toFixed(3) %>" readonly>
        </div>
        <% } %>
      </div>
    </form>
  </div>

  <% if (precio != null) { %>

  <h3 class="text-center"> Ticket de Vuelo</h3>
  <div class="container-sm mt-5 mb-5">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Numero de Boleto</div>
          <%= numBoleto %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre de Cliente</div>
          <%= nombre %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Edad</div>
          <%= edad %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Destino</div>
          <%= destino %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Tipo de viaje</div>
          <% if (viaje == 2) { %>
          <%= viaje %> - Doble
          <% } else {%>
          <%= viaje %> - Sencillo
          <% } %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Precio</div>
          <%= precio %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Subtotal</div>
          <%= parseFloat(subtotal).toFixed(3) %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Impuesto 16%</div>
          <%= parseFloat(subtotal).toFixed(3) %> * 0.16 = <%= (parseFloat(impuesto)).toFixed(3) %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Descuento</div>
          <% if (edad >= 60) { %>
          <%= parseFloat(subtotal).toFixed(3) %> + <%= parseFloat(impuesto).toFixed(3) %> * 0.50 = <%= parseFloat(descuento).toFixed(3) %>
          <% } else { %>
          0
          <% } %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Total a Pagar</div>
          <%= parseFloat(subtotal).toFixed(3) %> + <%= parseFloat(impuesto).toFixed(3) %> - <%= parseFloat(descuento).toFixed(3) %> = <%= parseFloat(total).toFixed(3)%>
        </div>
      </li>
    </ul>
  </div>
  <% } %>

  <%- include('partials/pie.html') %>

</body>

</html>